body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  text-transform: uppercase;
  background-color: #f2f2f2;
}

a {
  text-decoration: none;
  color: #000000;
}

.site-navigation {
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
  background-color: #ffffff;
}

.site-navigation {
  list-style: none;
}


.site-navigation a:hover {
  color: #81b3d2;
}

.site-navigation a:focus {
  color: #81b3d2;
  border: none;
}

.site-navigation a:active {
  color: rgba(0,0,0,0.3);
}

.site-navigation-active {
  color: #766357;
}


.banner {
  position: relative;
  height: 510px;
  background: url(../img/banner-bottom.png) no-repeat center bottom,
              #81b3d2 url("../img/sedona.jpg") no-repeat 50% 29%;
  background-size: 100% 58px, 100% auto;
}
   
 
.banner img {
  position: absolute;
  left: 50%;
  margin-left: -230px;
  top: 50%;
  margin-top: -175px;
  height: 350px;
  width: 460px;
}

.banner-center {
  width: 458px;
  height: 352px;
  position: relative;
  top: 25%;
}

.sedona-intro {
  display: flex;
  background-color: #ffffff;
  flex-direction: column;
}

.intro {
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  width: 460px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 28px;
  margin-top: 58px;
  padding: 0 10px;
}

.sedona-intro p {
  line-height: 26px;
}


.advantages-list h3 {
  font-size: 21px;
  line-height: 21px;
  font-weight: bold;  
}

.diablo-bridge {
  background-color: #81b3d2;
  color: #ffffff;
}

.advantages-list {
  list-style: none;
}

.advantages-town {
   display: flex;
  list-style: none;
  padding: 0;
  background-color: #ffffff;
  color: #000000; 
}

.advantages-town-house h4:before {
  background:white url("../img/icon-house.svg") no-repeat;
  width: 75px;
  height: 72px;
  content: "";
  position: absolute;
  top: -100px;
  left: 50%; 
  margin-left: -37.5px; 
}

.advantages-town-burger h4:before {
  background:white url("../img/icon-burger.svg") no-repeat;
  width: 74px;
  height: 70px;
  content: "";
  position: absolute;
  top: -100px; 
  left: 50%; 
  margin-left: -37px; 
}

.advantages-town-souvenir h4:before {
  background:white url("../img/icon-souvenir.svg") no-repeat;
  width: 64px;
  height: 76px;
  content: "";
  position: absolute;
  top: -105px;
  left: 50%; 
  margin-left: -32px;  
}

.advantages-town li {
  padding-right: 48px;
  padding-left: 48px;
  padding-bottom: 68px;
  text-align: center;
  width: 33.3%;
}

.advantages-town h4{
  position: relative;
  margin-top: 160px;
  margin-bottom: 24px;
  font-weight: bold;
  font-size: 21px;
  line-height: 21px;
}

.advantages-grey {
  background-color: #eeeeee;
}

.form-order h2 {
  font-size: 30px;
  font-weight: bold;
  line-height: 36px;
  padding: 0 30px;
}
 .form-order {
  background-color: #ffffff;
  text-align: center;
  padding: 0 315px ;
  padding-top: 50px;
  padding-bottom: 111px;
  box-sizing: border-box;
  margin-right: auto;
  margin-left: auto;
  position: relative;
 }

 .form-order:before {
  content: "";
  width: 100%;
  box-sizing: border-box;
  background-color: #ffffff;
  z-index: 1; 
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;  
 }
 

 .form-order a {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: #ffffff;
 }

.form-order p {
  margin: 0;
  margin-top: 25px;
  text-align: center;
  padding: 0 30px;
}

.modal-btn-search {
  background-color:#766357;
}

.modal-btn-search:hover,
.modal-btn-search:focus {
  background-color: #604e43;
}

.modal-btn-search:active {
  background-color: #503e33;
  color: rgba(255,255,255,0.3);
}

.hashtag {
  width: 33.3%;
  text-align: center;
  width: 140px;
  margin-left: auto;
  margin-right: auto;
  
}

.hashtag p{
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  margin:0;
}

.footer-social {
  list-style: none;
}

.footer-social a {
  color: #000000;
}

.modal {
  background-color: #ffffff;
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
}

.modal input[type="text"],
.modal .visitor-plus,
.modal .visitor-minus {
  background: #f2f2f2;
}

.modal input[type="text"]:hover {
  background-color: #ebebeb;
   border: 2px solid #ebebeb;
}

.modal input[type="text"]:focus {
  background-color: #ffffff;
  border: 2px solid #f2f2f2;
}

.modal-search-button {
  background: #81b3d2;
  color: #ffffff;
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  text-transform: uppercase;
  box-sizing: border-box;
  width: 100%;
  height: 58px;
  padding: 12px 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 48px;
  border: 0;
  cursor: pointer;
}

.modal-search-button:hover,
.modal-search-button:focus {
  background-color: #669ec0;
}

.modal-search-button:active {
  background-color: #5496bd;
  color: rgba(255,255,255,0.3);
}

.search-hotel {
  background-image: url("../img/background.jpg");
  background-position: 0px -55px;
  background-color: #81b3d2;
  padding-left: 6%;
  padding-right: 6%;
  display: flex;
  box-sizing: border-box;
  padding-top: 26px;
  padding-bottom: 8px;
}

.infrastructure legend {
  font-size: 16px;
  line-height: 21px;
  font-weight: bold;
  color: #ffffff;
}

.infrastructure label {
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
}

.type-of-housing legend {
  font-size: 16px;
  line-height: 21px;
  font-weight: bold;
  color: #ffffff;
}

.type-of-housing label {
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
}

.price-per-day legend {
  font-size: 16px;
  line-height: 21px;
  font-weight: bold;
  color: #ffffff;
}

.price-per-day label {
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
}

.show {
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
  text-transform: uppercase;
}

.hotel-found {
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  color: #000000;
  text-align: middle;
}

.hotel-sort-label {
  font-size: 12px;
  line-height: 18px;
  color: #000000;
}

.sort-type {
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
}


.sort-arrow {
  margin-left: auto;
  box-sizing: border-box;
  display: flex;
  padding-top: ;
}

.sort-asc {
  box-sizing: border-box;
  cursor: pointer;
  border: 6px solid transparent; 
  border-bottom: 10px solid rgba(0,0,0,0.3);
  margin-bottom: 35px;
}

.sort-desc {
  border: 6px solid transparent; 
  border-top: 10px solid rgba(0,0,0,0.3);
  box-sizing: border-box;
  cursor: pointer;
  margin-top: 10px;
  margin-left: 10px;
}

.sort-asc:hover,
.sort-asc:focus {
  border-bottom: 10px solid rgb(0,0,0);
}

.sort-desc:hover,
.sort-desc:focus {
  border-top: 10px solid rgb(0,0,0);
}

.sort-asc:active {
  border-bottom: 10px solid #81b3d2;
}

.sort-desc:active {
  border-top: 10px solid #81b3d2;
}

.sort-asc-active {
  border-bottom: 10px solid #81b3d2;
}

.sort-desc-active {
  border-top: 10px solid #81b3d2;
}

.hotel-item h3 {
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
  margin: 0;
  margin-bottom: 5px;
}

.title {
  margin: 0;
}

.title a {
  color: #000000;
}

.title a:hover {
  color: #81b3d2;
}

.title a:focus {
  color: #81b3d2;
}

.title a:active {
  color: rgba(0,0,0,0.3);
}

.button-more {
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  font-weight: bold;
  color: #ffffff;
  background-color: #81b3d2;
  padding: 4px 17px;
  margin-right: 3px;
}

.button-more:hover {
  background-color: #669ec0;
}

.button-more:focus {
  background-color: #669ec0;
}

.button-more:active {
  background-color: #5496bd;
  color: rgba(255,255,255,0.3);
}

.button-order {
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  font-weight: bold;
  color: #ffffff;
  background-color: #766357;
  font: inherit;
  padding: 4px 16px;
}

.button-order:hover {
  background-color: #604e43;
}

.button-order:focus {
  background-color: #604e43;
}

.button-order:active {
  background-color: #503e33;
  color: rgba(255,255,255,0.3);
}

.hotel-list {
  list-style: none;
}

.rating-results {
  display: inline-block;
  font-size: 14px;
  line-height: 21px;
  background-color: #f2f2f2;
  width: 110px;
  height: 25px;
  color: #666666;
  text-align: center;
  vertical-align: middle;
  margin-left: auto;
  padding-top: 3px;
}

button, 
input {
  font: inherit;
}

/* Классы звёзд рэйтинга */

.star-five {
  width: 115px;
  background: url("../img/star.svg") no-repeat,
              url("../img/star.svg") no-repeat 24px 0,
              url("../img/star.svg") no-repeat 48px 0,
              url("../img/star.svg") no-repeat 72px 0,
              url("../img/star.svg") no-repeat 96px 0;
}

.star-four {
  width: 90px;
  background: url("../img/star.svg") no-repeat,
              url("../img/star.svg") no-repeat 24px 0,
              url("../img/star.svg") no-repeat 48px 0,
              url("../img/star.svg") no-repeat 72px 0;
}

.star-three {
  width: 65px;
  background: url("../img/star.svg") no-repeat,
              url("../img/star.svg") no-repeat 24px 0,
              url("../img/star.svg") no-repeat 48px 0;
}

.star-two {
  width: 40px;
  background: url("../img/star.svg") no-repeat,
              url("../img/star.svg") no-repeat 24px 0;
}

.star-one {
  width: 18px;
  background: url("../img/star.svg") no-repeat;
}              

/* ------------------------------------------------*/

.visually-hidden {
  position: absolute;
  height: 1px; width: 1px; 
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: polygon(0px 0px, 0px 0px,0px 0px, 0px 0px);
}

/* Сетки */
.site-navigation li:last-child {
  margin-right: 6%;
}

.site-navigation li:first-child {
  margin-left: 6%;
} 
.site-navigation {
  display: flex;
  margin: 0;
  padding: 0;
  max-width: 1200px;
  height: 56px;
  box-sizing: border-box;
  padding-top: 13px;
}

.logo-sedona {
  position: absolute;
  margin-left: -69px;
  left: 50%;
  z-index: 1;
}

.main-navigation {
  position: relative;
}

.site-navigation li {
  box-sizing: border-box;
  width: 20%; ;
}

.site-navigation li:nth-child(-n+2) {
  justify-content: flex-start;
}

.site-navigation li:nth-child(3) {
  margin-left: 8%;
}

.site-navigation li:nth-child(n+3) {
  text-align: right;
}

.container {
  max-width: 1200px;
  min-width: 768px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 0 20px 3px #dadada;
}

.banner {
  margin-bottom: 0;
}

.sedona-intro {
  box-sizing: border-box;
  text-align: center;
  width: 100%;
  padding: 0 340px;
  padding-bottom: 50px;
}

.sedona-intro p {
  margin: 0;
}

.small-town {
  display: flex;
  background-color: #81b3d2;
  color: #ffffff;
}

.small-town-title {
  margin-left: auto;
  margin-right: auto;
  width: 33.5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  padding: 0 60px;
}


.small-town-img {
  width: 67%;
  overflow: hidden;
  height: 256px;
}

.small-town-img img {
  width: 100%;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.small-town-title h3 {
  width: 150px;
  text-align: center;
  margin-top: 45px;
  margin-bottom: 25px;
}

.small-town-title p {
  margin: 0;
  padding:0;
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: center;
 }

.advantages-list {
  margin: 0;
  padding: 0;
}


.diablo-bridge {
  display: flex;
}

.diablo-bridge-img img {
  width: 100%;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.diablo-bridge-img{
  width: 67%;
  overflow: hidden;
  height: 256px;
}

.diablo-bridge-title h3 {
  width: 155px;
  height: 45px; 
  margin: 0 auto;
  margin-top: 45px;
  margin-bottom: 23px;
  text-align: center;
  padding: 0 10px;

}

.diablo-bridge-title p {
  margin: 0;
  padding: 0;
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: center;
}

.diablo-bridge-title {
  width: 33.5%;
  text-align: center;
  padding: 0px 45px;
  box-sizing: border-box;
}

.advantages-item-grey {
  display: inline-block; 
  width: 33%;
  box-sizing: border-box;
  padding: 0 65px;
  text-align: center;
  padding-bottom: 45px;
  vertical-align: top;
}

.advantages-item-grey p {
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
  text-align: center;
}

.advantages-item-grey h3{
  margin-right: auto;
  margin-left: auto;
  margin-top: 48px;
  margin-bottom: 25px;
  max-width: 120px;
 }


.form-order h2 {
  margin: 0;
 }

.form-order-content {
  position: relative;
  z-index: 2;
}

.modal-btn-search {
  margin-left: auto;
  margin-right: auto;
  padding: 29px 140px;
  position: relative;
  top: 82px;
  cursor: pointer;
  z-index: 2;
}

.map {
  height: 595px;
  background-color: #e9e5dc;
  background-image: url("../img/map.jpg");
}

.opacity-footer {
  background: rgba(255, 255, 255, 0.9);
  display: flex;
  height: 120px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  position: relative;
  top: 100%;
  margin-top: -120px;
}

.main-footer {
  background: #ffffff;
  display: flex;
  height: 120px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}


.footer-social {
  width: 150px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
}

.social-container {
  width: 33.3%; 
  padding: 0;   
}

.htmllogo {
  width: 33.3%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-social li {
  display: flex;
  width: 46px;
  height: 48px;
  background: #81b3d2;
}

.footer-social li:focus,
.footer-social li:hover {
  background: #669ec0;
}

.footer-social li:active {
  background: #5496bd;
}

.social-item:active path {
  fill: rgba(255,255,255,0.3);
}

.social-item {
  display: flex;
  width: 50px;
  height: 50px;
  justify-content: center;
  align-items: center;
}

.logo-center {
  display: flex;
  align-items: center;
}

.logo-center:focus path,
.logo-center:hover path {
  fill: #81b3d2;
}

.logo-center:active path {
  fill: #bdbbbc;
}

.htmllogo a {
  display: block;
  height: 41px;
  margin-left: 8px;
}

.htmllogo p {
  margin: 0;
}

.hotel-catalog-header {
  display: flex;
  background: #ffffff;
  margin-bottom: 1px;
  padding-left: 6%;
  padding-right: 6%;
  height: 85px;
  padding-top: 28px;
  box-sizing: border-box
}

.sort-center {
  margin-top: 5px;
  margin-left: 15px;
}

.sort-type:last-child {
  margin-left: 28px;
}

.hotel-sort-label {
  margin-left: 48px;
  margin-top: 6px;
}

.sort-type {
  margin-left: 25px;
  vertical-align: baseline;
  color: rgba(0,0,0,0.3);
  border-bottom: 1px dotted #81b3d2;
}

.sort-type:hover,
.sort-type:focus {
  color: #81b3d2;
}

.sort-type:active{
  color: #000000;
  border: 0;
}

.sort-active {
  color: #81b3d2;
  border: 0;
}


.hotel-list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.hotel-item {
 padding-left: 6%;
 padding-right: 6%;
 background: #ffffff;
 margin-bottom: 1px;
}

.hotel-item img {
  margin-right: 30px;
}

img {
  max-width: 100%;
  height: auto;
}

.hotel-item-links {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.hotel-item-links span {
  text-align: left;
}

.rating {
  display: flex;
  margin-left: auto;
  width: 120px;
  flex-direction: column;
  margin-top: 5px;
}

.hotel-photo {
  margin-top: 5px;
}

.stars {
  height: 20px;
  box-sizing: border-box;
  margin-bottom: 43px;
  padding: 0;
  margin-left: auto;
  margin-right: 0;
}

.center {
  display: flex;
  width: 100%;
  align-items: cente;
  height: 150px;
  box-sizing: border-box;
  padding: 25px 0;
}

.modal {
  width: 570px;
  box-sizing: border-box;
  position: absolute;
  background-color: #ffffff;
  left: 50%;
  margin-left: -285px;
  top: 290px;
  display: none;
}

.modal-show {
  display: block;
  animation-name: modal-open;
  animation-duration: 0.5s;
  animation-timing-function: ease;
}

.search-form {
  display: none;
  position: relative;
  flex-wrap: wrap;
  box-sizing: border-box;
  justify-content: space-between;
  width: 575px;
  padding: 56px;
  padding-right: 60px;
  padding-bottom: 55px;
  align-items: baseline;

}

.form-show {
  display: flex;
  animation-name: form-open;
  animation-duration: 0.5s;
  animation-timing-function: ease;
}

.search-form input[type="text"] {
  width: 305px;
  height: 39px;
  box-sizing: border-box;
  text-transform: uppercase;
}

.half-width {
  width: 50%;
  height: 40px;
  display: flex;
  align-items: baseline;
  margin-top: 34px;
}

.visitor-minus,
.visitor-plus{
  border: 0;
  padding: 0;
  width: 40px;
  height: 39px;
  box-sizing: border-box;
  background-color: #f2f2f2;
  cursor: pointer;
}



.half-width-right input[type="text"] {
  width: 35px;
  border: 0;
  height: 39px;
  text-align: center;
} 

.half-width-right {
  display: flex;
  align-items: baseline;
}

.search-form label {
  margin-right: 15px;
}

.half-width label {
  margin-right: 41px;
}

.half-width-right label {
  margin-right: 26px;
  
}
.half-width input[type="text"] {
  width: 35px;
  border: 0;
  text-align: center;
} 

.search-form input[type="button"]{
  margin: 0;
}

.visitor-adults-area {
  display: flex;
  background-color: #f2f2f2;
  box-sizing: border-box;
  width: 115px;
  height: 39px;
  position: relative;
  top: -5px;
}

.visitor-children-area {
  display: flex;
  background-color: #f2f2f2;
  box-sizing: border-box;
  width: 115px;
  height: 40px;
  position: relative;
  top: -5px; 
  margin-left: 0;
  
}

.search-form-arrival {
  background-color: #f2f2f2;
  width: 348px;
  height: 39px;
  display: flex;
}

.search-form-arrival input[type="text"] {
  border: none;
  outline: none;
  padding: 10px;
  padding-left: 12px; 
  width: 305px;
  border: 2px solid #f2f2f2;
} 

.date-calendar {
  margin: 0;
  border: 0;
  width: 39px;
  height: 39px;
  background-color: #f2f2f2;
  cursor: pointer;
  margin-left: 5px;
}

.date-calendar svg {
  margin-top: 6px;
  margin-left: 2px;
}

.date-calendar path {
  fill: rgb(0,0,0,0.3)
}

.date-calendar:hover path,
.date-calendar:focus path {
  fill: #000000;
}

.date-calendar:active path {
  fill: #81b3d2
}

.search-form-departure {
  background-color: #f2f2f2;
  width: 350px;
  height: 39px;
  display: flex;
  margin-top: 28px;
}

.search-form-departure input[type="text"] {
  border: none;
  outline: none;
  padding: 12px; 
  width: 305px;
  border: 2px solid #f2f2f2; 
} 

.search-hotel fieldset {
  border: 0;
  padding:0;
}

.infrastructure {
  box-sizing: border-box;
}

.infrastructure legend {
  margin: 0;
  margin-left: -3px;
  margin-bottom: 25px;
  display: block;
}

.infrastructure label {
  margin-left: 39px;
  margin-bottom: 25px;
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
}

.input-checkbox-blocked + label::after {
  background: url("../img/checkbox-off-blocked.svg") no-repeat 2px left center;
}

.input-checkbox-blocked:checked + label::after {
  content: "";
  position: absolute;
  left: -41px;
  width: 30px;
  height: 30px;
  background: url("../img/checkbox-on-blocked.svg") no-repeat left center;
  top: 50%;
  margin-top: -15px;
  pointer-events: none;
}

.input-checkbox + label::after {
  content: "";
  position: absolute;
  left: -41px;
  width: 30px;
  height: 30px;
  background: url("../img/checkbox-off.svg") no-repeat left center;
  top: 50%;
  margin-top: -15px;
}

.input-checkbox:checked + label::after {
  content: "";
  position: absolute;
  left: -41px;
  width: 30px;
  height: 30px;
  background: url("../img/checkbox-on.svg") no-repeat left center;
  top: 50%;
  margin-top: -15px;
}

.input-checkbox-of-type + label::after {
  content: "";
  position: absolute;
  left: -41px;
  width: 30px;
  height: 30px;
  background: url("../img/checkbox-off.svg") no-repeat left center;
  top: 50%;
  margin-top: -15px;
}

.input-checkbox-of-type:checked + label::after {
  content: "";
  position: absolute;
  left: -41px;
  width: 30px;
  height: 30px;
  background: url("../img/checkbox-on.svg") no-repeat left center;
  top: 50%;
  margin-top: -15px;
}

.type-of-housing {
  padding: 0;
  margin: 0;
  margin-left: 120px;
  margin-right: 30px;
  
}

.type-of-housing legend {
  margin: 0;
  margin-bottom: 25px;
  display: block;
  margin-left: -3px;
}

.type-of-housing label {
  margin-left: 39px;
  margin-bottom: 25px;
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
}

.type-of-housing-label {
  margin-left: 42px;
}


.price-per-day {
  max-width: 320px;
  min-width: 222px; 
  margin-left: auto;
}

.price-per-day legend {
  margin-bottom: 9px;
  margin-left: 4px;
}

.price-controls {
  height: 32px;
  margin-bottom: 19px;
  margin-left: 3px;
  margin-top: 2px;
  font-size: 0;
  border: 2px solid #ffffff;
  border-radius: 2px;
  position: relative;
}

.price-controls label {
  display: inline-block;
  font-size: 14px;
  line-height: 32px;
  vertical-align: center;
  cursor: pointer;
}

.price-controls .min-price {
  width: 29%;
  padding-left: 21%
}

.price-controls .max-price {
  width: 32%;
  padding-left: 18%;
}

.price-controls input {
  width: 50%;
  margin: 0;
  color: inherit;
  font: inherit;
  background: none;
  border: none;
  line-height: 15px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 51%;
  width: 2px;
  height: 22px;
  background: #ffffff;
  transform: translate(-50%, -50%);
}

.range-controls {
  position: relative;
  margin-left: 3px;
  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;

  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background: #ffffff;
}

.range-toggle {
  width: 4px;
  height: 4px;
  position: absolute;
  top: -9px;
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 100%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  border: 10px solid #ffffff; 
  background: #ababab; 
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.range-toggle:hover {
  background: #1c4f80;
}

.show {
  display: block;
  margin-left: 90px;
  padding: 6px 35px;
  width: 135px;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.show:hover,
.show:active,
.show:focus {
  background: #ffffff;
  color: #000000;
}

.hotel-class-price {
  margin-bottom: 18px
}

.hotel-class {
  display: inline-block;
  box-sizing: border-box;
  width: 110px;
  vertical-align: middle;
  margin-right: 3px
}

.hotel-price {
  display: inline-block;
  vertical-align: middle;
}


.visitor-minus::before {
  content: "";
  width: 12px;
  height: 3px;
  box-sizing: border-box;
  background-color: #a9a9a9;
  position: absolute;
  top: 50%;
  margin-top: -1.5px;
  right: 90px;
}

.visitor-plus::before {
  content: "";
  width: 12px;
  height: 3px;
  box-sizing: border-box;
  background-color: #a9a9a9;
  position: absolute;
  top: 50%;
  margin-top: -1.5px;
  right: 15px;
}

.visitor-plus::after {
  content: "";
  width: 12px;
  height: 3px;
  box-sizing: border-box;
  background-color: #a9a9a9;
  position: absolute;
  top: 50%;
  margin-top: -1.5px;
  transform: rotate(90deg);
  right: 15px;
}

.visitor-plus:hover::after,
.visitor-plus:focus::after,
.visitor-plus:hover::before,
.visitor-plus:focus::before,
.visitor-minus:hover::before,
.visitor-minus:focus ::before {
  background-color: #000000;
}

.visitor-plus:active::after,
.visitor-plus:active::before,
.visitor-minus:active::before {
  background-color: #81b3d2;
}

@keyframes modal-open {
  from { height: 0px}
  to {height: 395px}
}

@keyframes form-open {
  from {top: -350px}
  to {top: 0px}
}
