body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  text-transform: uppercase;
  background-color: #f2f2f2;
}

a {
  text-decoration: none;
}

.site-navigation {
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
  background-color: #ffffff;
}

.site-navigation {
  list-style: none;
}

.site-navigation a {
  color: #000000;
}

.site-navigation a:hover {
  color: #81b3d2;
}

.site-navigation a:focus {
  color: #766357;
}


.banner {
  position: relative;
  height: 512px;
  background: url(../img/banner-bottom.png) no-repeat center bottom,
              #81b3d2 url("../img/sedona.jpg") no-repeat 50% 30%;
  background-size: 100% 58px, 100% auto;
}
   
 
.banner img {
  position: absolute;
  left: 50%;
  margin-left: -229px;
  top: 50%;
  margin-top: -176px;
}

.banner-center {
  width: 458px;
  height: 352px;
  position: relative;
  top: 25%;
}

.sedona-intro {
  display: flex;
  background-color: #ffffff;
  height: 216px;
  flex-direction: column;
  justify-content: center;
}

.intro {
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  text-align: center;
  vertical-align: center;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 35px;
}

.sedona-intro p {
  line-height: 26px;
}

.advantages-list {
  text-align: center;
}

.advantages-list h3 {
  font-size: 21px;
  line-height: 21px;
  font-weight: bold;  
}

.diablo-bridge {
  background-color: #81b3d2;
  color: #ffffff;
}

.advantages-list {
  list-style: none;
}

.advantages-town {
  list-style: none;
}

.advantages-town {
  background-color: #ffffff;
  color: #000000;
  text-align: center;
}

.advantages-town-house h4:before {
  background:white url("../img/icon-house.svg") no-repeat;
  width: 75px;
  height: 72px;
  content: "";
  position: absolute;
  top: -108px;
  left: 35%;  
}

.advantages-town-burger h4:before {
  background:white url("../img/icon-burger.svg") no-repeat;
  width: 74px;
  height: 70px;
  content: "";
  position: absolute;
  top: -108px; 
  left: 35%; 
}

.advantages-town-souvenir h4:before {
  background:white url("../img/icon-souvenir.svg") no-repeat;
  width: 64px;
  height: 76px;
  content: "";
  position: absolute;
  top: -108px;
  left: 38%; 
}

.advantages-town p {
  max-width: 265px;
  margin-bottom: 83px;
}

.advantages-town h4{
  position: relative;
  margin-top: 165px;
}

.advantages-town-burger h4:before {
  background:white url("../img/icon-burger.svg") no-repeat;
}

.advantages-town-souvenir h4:before {
  background:white url("../img/icon-souvenir.svg") no-repeat;
}

.advantages-town h4 {
  font-weight: bold;
  font-size: 21px;
  line-height: 21px;
}

.advantages-grey {
  background-color: #eeeeee;
}

.form-order h2 {
  font-size: 30px;
  font-weight: bold;
  line-height: 36px;
}
 .form-order {
  background-color: #ffffff;
  text-align: center;
  padding-top: 55px;
  height: 290px;
  box-sizing: border-box;
 }

 .form-order a {
  text-align: center;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: #ffffff;
 }

.modal-btn-search {
  background-color:#766357;
}

.modal-btn-search:hover,
.modal-btn-search:focus {
  background-color: #604e43;
}

.hashtag {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  text-decoration: underline;
}

.footer-social {
  list-style: none;
}

.footer-social {
  text-align: center;
}

.footer-social a {
  color: #000000;
}

.modal {
  background-color: #ffffff;
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
}

.modal input[type="text"],
.modal .visitor-plus,
.modal .visitor-minus {
  background: #f2f2f2;
}

.modal-search-button {
  background: #81b3d2;
  color: #ffffff;
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  text-transform: uppercase;
  box-sizing: border-box;
  width: 100%;
  height: 60px;
  align-self: flex-end;
  margin-left: auto;
  margin-right: auto;
  border: 0;
}

.search-hotel {
  background-image: url("../img/background.jpg");
  background-color: #81b3d2;
  padding-left: 6%;
  padding-right: 6%;
  display: flex;
  height: 220px;
  box-sizing: border-box;
  padding-top: 30px;
  padding-bottom: 30px;
}

.infrastructure legend {
  font-size: 16px;
  line-height: 21px;
  font-weight: bold;
  color: #ffffff;
}

.infrastructure label {
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
}

.type-of-housing legend {
  font-size: 16px;
  line-height: 21px;
  font-weight: bold;
  color: #ffffff;
}

.type-of-housing label {
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
}

.price-per-day legend {
  font-size: 16px;
  line-height: 21px;
  font-weight: bold;
  color: #ffffff;
}

.price-per-day label {
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
}

.show {
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
  text-transform: uppercase;
}

.hotel-found {
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  color: #000000;
  text-align: middle;
}

.hotel-sort-label {
  font-size: 12px;
  line-height: 18px;
  color: #000000;
}

.sort-type {
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
  color: #f2f2f2;
  border-bottom: 1px dotted;
}

.sort-type:hover {
  border-bottom: 1px dotted #81b3d2;
  color: #81b3d2;
}

.sort-type:focus {
  color: #81b3d2;
  border-bottom: 0;
}

.sort-type:active {
  color: #000000;
}

.sort-arrow {
  margin-left: auto;
  box-sizing: border-box;
  display: flex;
}

.sort-asc {
  background-image: url("../img/icon-up-dir.svg");
  background-repeat: no-repeat;
  box-sizing: border-box;
  width: 15px;
  height: 15px;
  cursor: pointer;
}

.sort-desc {
  background-image: url("../img/icon-down-dir.svg");
  background-repeat: no-repeat;]
  box-sizing: border-box;
  width: 15px;
  height: 15px;
  cursor: pointer;
}

.hotel-item h3 {
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
  margin: 0;
  margin-bottom: 5px;
}

.title {
  margin: 0;
}

.title a {
  color: #000000;
}

.title a:hover {
  color: #81b3d2;
}

.title a:focus {
  color: #81b3d2;
}

.title a:active {
  color: #000000;
}

.button-more {
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  font-weight: bold;
  color: #ffffff;
  background-color: #81b3d2;
  padding: 5px 15px;
  margin-right: 3px;
}

.button-more:hover {
  background-color: #669ec0;
}

.button-more:focus {
  background-color: #669ec0;
}

.button-more:active {
  background-color: #5496bd;
  color: #81b3d2;
}

.button-order {
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  font-weight: bold;
  color: #ffffff;
  background-color: #766357;
  font: inherit;
  padding: 5px 15px;
}

.button-order:hover {
  background-color: #604e43;
}

.button-order:focus {
  background-color: #604e43;
}

.button-order:active {
  background-color: #503e33;
  color:#766357;
}

.hotel-list {
  list-style: none;
}

.rating-results {
  display: inline-block;
  font-size: 14px;
  line-height: 21px;
  background-color: #f2f2f2;
  box-sizing: border-box;
  width: 115px;
  height: 30px;
  color: #666666;
  text-align: center;
  vertical-align: center;
}

button, 
input {
  font: inherit;
}

/* Классы звёзд рэйтинга */

.star-five {
  background: url("../img/star.svg") no-repeat,
              url("../img/star.svg") no-repeat 30px 0,
              url("../img/star.svg") no-repeat 60px 0,
              url("../img/star.svg") no-repeat 90px 0,
              url("../img/star.svg") no-repeat 120px 0;
}

.star-four {
  background: url("../img/star.svg") no-repeat,
              url("../img/star.svg") no-repeat 30px 0,
              url("../img/star.svg") no-repeat 60px 0,
              url("../img/star.svg") no-repeat 90px 0;
}

.star-three {
  background: url("../img/star.svg") no-repeat,
              url("../img/star.svg") no-repeat 30px 0,
              url("../img/star.svg") no-repeat 60px 0;
}

.star-two {
  background: url("../img/star.svg") no-repeat,
              url("../img/star.svg") no-repeat 30px 0;
}

.star-one {
  background: url("../img/star.svg") no-repeat;
}              

/* ------------------------------------------------*/

.visually-hidden {
  position: absolute;
  height: 1px; width: 1px; 
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: polygon(0px 0px, 0px 0px,0px 0px, 0px 0px);
}

/* Сетки */

 
.site-navigation {
  display: flex;
  margin: 0;
  padding: 0;
  padding-left: 6%;
  padding-right: 6%;
  max-width: 1200px;
  height: 56px;
  align-items: center;
}

.logo-sedona {
  position: absolute;
  margin-left: -69px;
  left: 50%;
  z-index: 1;
}

.main-navigation {
  position: relative;
}

.site-navigation li {
  box-sizing: border-box;
  width: 20%; ;
}

.site-navigation li:nth-child(-n+2) {
  justify-content: flex-start;
}

.site-navigation li:nth-child(3) {
  margin-left: auto;
}

.site-navigation li:nth-child(n+3) {
  text-align: right;
}

.container {
  max-width: 1200px;
  min-width: 768px;
  margin-left: auto;
  margin-right: auto;
}

.banner {
  margin-bottom: 0;
}

.sedona-intro {
  text-align: center;
  width: 100%;
  text-align: center;
}

.sedona-intro p {
  margin: 0;
}

.small-town {
  display: flex;
  height: 256px;
  background-color: #81b3d2;
  color: #ffffff;
}

.small-town p {
  max-width: 315px;
  margin-left: auto;
  margin-right: auto;
}

.small-town-title {
  margin-left: auto;
  margin-right: auto;
  width: 33%;
}


.small-town-img {
  background-image: url("../img/smalltown.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 67%;
}

.advantages-list {
  margin: 0;
  padding: 0;
}

.advantages-town {
  display: flex;
  justify-content: space-around;
}

.diablo-bridge {
  display: flex;
  height: 256px;
}

.diablo-bridge-img{
  width: 67%;
  background-image:url("../img/diablobridge.jpg");
  background-position: center;
  background-size: covern; 
  background-repeat: no-repeat;
}

.diablo-bridge p {
  max-width: 315px;
  margin-left: auto;
  margin-right: auto;
}

.diablo-bridge-title {
  margin-left: auto;
  margin-right: auto;
  width: 33%;
}

.advantages-grey {
  display: flex;
  height: 255px; 
  align-items: center;
}

.advantages-item-grey {
  width: 33%;
  margin-right: auto;
  margin-left: auto;
}

.advantages-item-grey p {
  max-width: 270px;
  margin-right: auto;
  margin-left: auto;
}

.advantages-item-grey h3{
  max-width: 130px;
  margin-right: auto;
  margin-left: auto;
}

 .form-order p {
  margin-top: 33px;
  }

.form-order h2 {
  margin: 0;
 }

.modal-btn-search {
  height: 85px;
  width: 575px;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  padding-top: 29.5px;
  position: relative;
  top: 25px;
}

.form-order-content {
  max-width: 465px;
  max-height: 118px;
  margin-right: auto;
  margin-left: auto;
}


.form-order {
  margin-right: auto;
  margin-left: auto;
  position: relative;
}

.map {
  height: 595px;
  background-color: #e9e5dc;
  background-image: url("../img/map.jpg");
  z-index: -1;
}

.opacity-footer {
  background: rgba(255, 255, 255, 0.9);
  display: flex;
  height: 120px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  position: relative;
  top: 100%;
  margin-top: -120px;
}

.main-footer {
  background: #ffffff;
  display: flex;
  height: 120px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}

.opacity-footer>p,
.main-footer>p {
  width: 33%;
  padding-left: 132px;
}

.footer-social {
  width: 33%;
  
}

.social-container {
  width: 150px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

.footer-social li {
  display: flex;
  width: 46px;
  height: 48px;
  background: #81b3d2;
}

.social-item {
  display: flex;
  width: 50px;
  height: 50px;
  justify-content: center;
  align-items: center;
}

.htmllogo {
  width: 33%;
}

.htmllogo a {
  display: inline-block;
  margin: 0;
  vertical-align: middle;
}

.htmllogo p {
  display: inline-block;
  margin: 0;
}

.hotel-catalog-header {
  display: flex;
  background: #ffffff;
  margin-bottom: 2px;
  padding-left: 6%;
  padding-right: 6%;
  height: 90px;
  align-items: center;
}

.hotel-sort-label {
  margin-left: 55px;
}
.sort-type-price {
  margin-left: 40px;
}

.sort-type {
  margin-left: 35px;
}

.hotel-list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.hotel-item {
  display: flex;
  width: 100%;
  align-items: cente;
  height: 150px;
  box-sizing: border-box;
  padding: 30px 0;
}

.hotel-item img {
  margin-right: 30px;
}

img {
  max-width: 100%;
  height: auto;
}

.hotel-item-links {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.hotel-item-links span {
  text-align: left;
}

.rating {
  display: flex;
  margin-left: auto;
  width: 120px;
  flex-direction: column;
}

.stars {
  height: 17px;
  box-sizing: border-box;
  margin-bottom: 48px;
  padding: 0;
}

.center {
  padding-left: 6%;
  padding-right: 6%;
  background: #ffffff;
  max-width: 1200px;
  margin-bottom: 2px;
}

.modal {
  width: 575px;
  height: 395px;
  box-sizing: border-box;
  position: absolute;
  background-color: #ffffff;
  left: 50%;
  margin-left: -287.5px;
  top: 290px;
  z-index: 1; 
}

.search-form {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  justify-content: space-between;
  width: 575px;
  height: 395px;
  padding: 55px;
  align-items: baseline
}

.search-form input[type="text"] {
  width: 310px;
  height: 40px;
  box-sizing: border-box;
  text-transform: uppercase;
}

.half-width {
  width: 50%;
  height: 40px;
  display: flex;
  align-items: baseline;
}

.visitor-minus,
.visitor-plus{
  border: 0;
  padding: 0;
  width: 40px;
  height: 40px;
  box-sizing: border-box;
  background-color: #f2f2f2;
  cursor: pointer;
}

.half-width-right input[type="text"] {
  width: 40px;
  border: 0;
  text-align: center;
} 

.half-width-right {
  display: flex;
  flex-direction: flex-end;
  align-items: baseline;
}

.half-width label {
  margin-right: 42px;
}

.half-width-right label {
  margin-right: 27px;
}
.half-width input[type="text"] {
  width: 40px;
  border: 0;
  text-align: center;
} 

.search-form input[type="button"]{
  margin: 0;
}

.visitor-adults-area {
  display: flex;
  background-color: #f2f2f2;
  box-sizing: border-box;
  width: 120px;
  height: 40px;
  position: relative; 
}

.visitor-children-area {
  display: flex;
  background-color: #f2f2f2;
  box-sizing: border-box;
  width: 120px;
  height: 40px;
  position: relative;
}

.search-form-arrival {
  background-color: #f2f2f2;
  width: 350px;
  height: 40px;
  display: flex;
}

.search-form-arrival input[type="text"] {
  border: none;
  outline: none;
  padding: 15px; 
  width: 305px; 
} 

.date-calendar {
  margin: 0;
  border: 0;
  width: 40px;
  height: 40px;
  background-color: #f2f2f2;
  background: url("../img/calendar.svg") no-repeat center;
}

.search-form-departure {
  background-color: #f2f2f2;
  width: 350px;
  height: 44px;
  display: flex;
}

.search-form-departure input[type="text"] {
  border: none;
  outline: none;
  padding: 15px; 
  width: 305px; 
} 

.search-hotel fieldset {
  border: 0;
}

.infrastructure {
  display: flex;
  box-sizing: border-box;
  width: 240px;
  height: 100%;
  flex-direction: column;
}

.infrastructure legend {
  margin: 0;
  margin-bottom: 20px;
  display: block;
}

.infrastructure label {
  margin-left: 40px;
  margin-bottom: 25px;
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
}

.input-checkbox + label::after {
  content: "";
  position: absolute;
  left: -40px;
  width: 30px;
  height: 30px;
  background: url("../img/checkbox-off.svg") no-repeat 2px center;
  top: 50%;
  margin-top: -15px;
}

.input-checkbox:checked + label::after {
  content: "";
  position: absolute;
  left: -40px;
  width: 30px;
  height: 30px;
  background: url("../img/checkbox-on.svg") no-repeat center;
  top: 50%;
  margin-top: -15px;
}

.type-of-housing {
  display: flex;
}

.type-of-housing legend {
  margin: 0;
  margin-bottom: 20px;
  display: block;
}

.type-of-housing label {
  margin-left: 40px;
  margin-bottom: 25px;
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
}

.type-of-housing + label::after {
  content: "";
  position: absolute;
  left: -40px;
  width: 30px;
  height: 30px;
  background: url("../img/checkbox-off.svg") no-repeat 2px center;
  top: 50%;
  margin-top: -15px;
}

.type-of-housing:checked + label::after {
  content: "";
  position: absolute;
  left: -40px;
  width: 30px;
  height: 30px;
  background: url("../img/checkbox-on.svg") no-repeat center;
  top: 50%;
  margin-top: -15px;
}

.price-per-day {
  margin-left: auto;
  box-sizing: border-box;
  width: 340px;
  
}

.price-per-day legend {
  margin-bottom: 9px;
}

.price-controls {
  height: 36px;
  margin-bottom: 20px;
  font-size: 0;
  border: 2px solid #ffffff;
  border-radius: 2px;
  position: relative;
}

.price-controls label {
  display: inline-block;
  font-size: 14px;
  line-height: 38px;
  vertical-align: top;
  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 90px;
  padding-left: 65px;
}

.price-controls input[type="text"] {
  line-height: 15px
}

.price-controls input {
  width: 50px;
  margin: 0;
  color: inherit;
  font: inherit;
  background: none;
  border: none;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 22px;
  background: #ffffff;
  transform: translate(-50%, -50%);
}

.range-controls {
  position: relative;

  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;

  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background: #ffffff;
}

.range-toggle {
  width: 4px;
  height: 4px;
  position: absolute;
  top: -9px;
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 100%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.range-toggle:hover {
  background: #1c4f80;
}

.show {
  display: block;
  margin: 0 auto;
  padding: 6px 35px;

  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;

  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.hotel-class-price {
  margin-bottom: 15px
}

.hotel-class {
  margin-right: 35px;
}

.visitor-minus::before {
  content: "";
  width: 12px;
  height: 3px;
  box-sizing: border-box;
  background-color: #a9a9a9;
  position: absolute;
  top: 50%;
  margin-top: -1.5px;
  right: 95px;
}

.visitor-plus::before {
  content: "";
  width: 12px;
  height: 3px;
  box-sizing: border-box;
  background-color: #a9a9a9;
  position: absolute;
  top: 50%;
  margin-top: -1.5px;
  right: 15px;
}

.visitor-plus::after {
  content: "";
  width: 12px;
  height: 3px;
  box-sizing: border-box;
  background-color: #a9a9a9;
  position: absolute;
  top: 50%;
  margin-top: -1.5px;
  transform: rotate(90deg);
  right: 15px;
}